canvas {
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
}

body {
  background-color: black;
}
